@font-face {
  font-family: 'Source Sans Pro';
  src: url('https://www.fontsquirrel.com/fonts/source-sans-pro') forat('opentype');
  font-weight: normal;
  font-style: normal;
}

header {
  display: flex;
  justify-content: space-between;
  position: absolute;
  background-color: transparent;
  width: 1103px;
  height: 29px;
  z-index: 1;
  top: 101px;
}

header .logo {
  display: flex;
}

header .menu {
  display: flex;
  gap: 52px;
  align-items: space-between;
}

header .menu a {
  text-decoration: none;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  color: #ffffff;
  letter-spacing: 0;
  line-height: normal;
}

.text-wrapper {
  top: 0;
  left: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  color: #ffffff;
  letter-spacing: 0;
  line-height: normal;
}

.menu .text-wrapper {
  font-size: 12px;
}

.people {
  display: flex;
  align-items: space-around;
  gap: 139px;
}

.banner {
  display: flex;
  position: relative;
  background: url('images/background.png');
  z-index: 0;
  width: 1440px;
  height: 1093px;
  flex-direction: column;
}

.banner h1 {
  font-size: 120px;
  display: flex;
  justify-content: center;
}

.banner .text-row {
  display: flex;
  gap: 59px;
  justify-content: center;
}

.center-horizontally {
  display: flex;
  justify-content: center;
}

.circle {
  border-radius: 50%;
}