header {
  display: flex;
  justify-content: space-between;
  position: relative;
  background-color: transparent;
  width: 1103px;
  height: 29px;
  z-index: 1;
}

header .logo {
  display: flex;
}

header .menu {
  display: flex;
  gap: 52px;
  align-items: space-between;
}

.text-wrapper {
  top: 0;
  left: 0;
  font-family: "Source Sans Pro";
  font-weight: 700;
  color: #ffffff;
  letter-spacing: 0;
  line-height: normal;
}

.menu .text-wrapper {
  font-size: 12px;
}

.people {
  display: flex;
  align-items: space-around;
}

.banner {
  position: relative;
  background: url('images/background.png') center/cover;
  z-index: 0;
  width: 1440px;
  height: 1093px;
}

.banner h1 {
  font-size: 120px;
  display: flex;
  justify-content: center;
}